# General
.idea/
logs/
crash-reports/

# Server
server/Ephesus/
server/plugins/WorldEdit/
server/plugins/bStats/
server/plugins/PluginMetrics/
server/plugins/Citizens/
server/spigot-1.19.2.jar
server/bundler/

# Source
source/target/